@font-face {
  font-family: "BebasNeue";
  src: url('~@/assets/fonts/BebasNeue-Regular.otf');
}
@font-face {
  font-family: "FuturaItalic";
  src: url('~@/assets/fonts/Futura-Book-Italic.otf');
}
@font-face {
  font-family: "Futura";
  src: url('~@/assets/fonts/Futura-Book.otf');
}
